.root__24502.root__49fc1.small__49fc1 > .outer_c0bea0 > .inner_c0bea0 {
  > header > .headerInner__24502 {
    /* status changes incase they dont have status.css enabled */
    @container style(--status-enabled:true) {
      > .addCustomStatusButtonBubble_af9888,
      > .container_ab8609 {
        position: absolute !important;
        top: unset !important;
        left: unset !important;
        bottom: 0 !important;
        right: 0 !important;
        z-index: 2 !important;
        display: flex !important;
        justify-content: center !important;
        align-content: center !important;
        flex-wrap: wrap !important;
        flex-direction: row !important;
        width: 50% !important;
        height: unset !important;
        padding: 10px !important;
        backdrop-filter: blur(15px) !important;
        box-sizing: border-box !important;
        border-bottom-right-radius: 8px !important;
        border-top-left-radius: 8px !important;

        > .outer_ab8609 {
          border: none !important;
          box-shadow: none !important;
          background: transparent !important;
          min-width: unset !important;
          max-width: unset !important;
          overflow: unset !important;

          &::before,
          &::after {
            display: none !important;
          }

          > .inner_ab8609 {
            padding: 0 !important;
            background: transparent !important;

            > .content_ab8609 {
              text-align: center !important;
            }
          }
        }

        > .statusPopover__2d0ab {
          display: none !important;
        }
          
        > .wrapper_f7ecac {
          background: color-mix(in srgb,
            var(--profile-gradient-primary-color) 10%,
            var(--profile-gradient-secondary-color) 90%
          ) !important;
        }
      }
    }
  }

  > .body__24502 .scroller_fcb628 .section_bf424d {
    @container style(--show-notes:true) {
      &:nth-last-of-type(1) {
        margin-bottom: 50px;
      }
    }
      
    @container style(--show-notes:false) {
      &:nth-last-of-type(2) {
        margin-bottom: 50px;
      }
    }
  }
}

.root__24502.root__49fc1.small__49fc1 {
  width: 800px;
  height: 400px;

  > .outer_c0bea0,
  > .profileEffects__01370 {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 4px;
  }
  
  > .outer_c0bea0 > .inner_c0bea0 {
    width: 100%;
    height: 100%;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    border-radius: 8px !important;

    > .wrapper_da5890 {
      top: unset;
      right: calc(50% + 15px);
      bottom: 11px;
      gap: 8px;

      .bannerColor_fb7f94 {
        background: color-mix(in srgb,
          rgb(0 0 0 / .1) 50%,
          var(--profile-gradient-secondary-color) 50%
        );
        border-radius: 8px;
        color: var(--white-500);

        > .contents__201d5 > svg > path {
          -webkit-filter: drop-shadow(0px 0px 1px black);
        }
      }

      &:not(:hover) div:not(:last-of-type) {
        display: none;
      }
    }

    > header {
      width: 50%;
      height: 100%;

      > .mask__68edb {
        min-width: unset !important;
        min-height: unset !important;
        width: 100%;
        height: 100%;

        @container style(--background-width:full) {
          width: 200% !important;
        }

        &[viewBox="0 0 600 106"] > foreignObject {
          y: -350px;
          height: 800px;
        }

        &[viewBox="0 0 600 210"] > foreignObject {
          y: -250px;
          height: 700px;
        }

        > foreignObject {
          mask: none;

          > .banner__68edb {
            position: absolute;
            top: 5px;
            left: 0;
            max-width: 792px;
            height: 100% !important;
            z-index: -1;
            opacity: 0.6;
            border-radius: 10px 0 0 10px;
            -webkit-mask-image: linear-gradient(90deg, rgb(0 0 0 / .8), rgb(0 0 0 / .29));

            @container style(--background-width:full) {
              background-size: 141%;
            }
          }
        }
      }

      > .headerInner__24502 {
        position: static;

        > .avatar__75742 {
          top: 16px;
          left: 16px;

          > .avatarPopover__2d0ab {
            display: none;
          }
        }

        > .addCustomStatusButtonBubble_af9888,
        > .container_ab8609 {
          top: 150px;
          left: 150px;
          z-index: 2;
          height: fit-content;
          width: fit-content;

          > .outer_ab8609 {
            background: transparent;
            overflow: unset;

            &::before {
              top: -5px;
              left: -25px;
              pointer-events: none;
              background: color-mix(in srgb,
              rgb(0 0 0 / .1) 50%,
                var(--profile-gradient-secondary-color) 50%
              );
            }

            &::after {
              top: -10px;
              left: -40px;
              pointer-events: none;
              background: color-mix(in srgb,
              rgb(0 0 0 / .1) 50%,
                var(--profile-gradient-secondary-color) 50%
              );
            }

            > .inner_ab8609 {
              background: color-mix(in srgb,
              rgb(0 0 0 / .1) 50%,
                var(--profile-gradient-secondary-color) 50%
              );
              border-radius: 16px !important;
            }
          }

          > .statusPopover__2d0ab {
            display: none;
          }
          
          > .wrapper_f7ecac {
            background: color-mix(in srgb,
            rgb(0 0 0 / .1) 50%,
              var(--profile-gradient-secondary-color) 50%
            );
          }
        }

        > .headerButtons__24502 {
          position: fixed;
          height: 32px;
          bottom: 15px;
          left: 15px;
          z-index: 1;

          > .container__9e42c > div > .button__201d5,
          > .container__9e42c > .button__201d5 {
            background: color-mix(in srgb,
            rgb(0 0 0 / .1) 50%,
              var(--profile-gradient-secondary-color) 50%
            );
            color: var(--white-500);

            > .contents__201d5 {
              -webkit-filter: drop-shadow(0px 0px 1px black);
            }
          }
        }
      }
    }

    > .body__24502 {
      width: 50%;
      margin: 0;
      overflow: visible;
      border-radius: 0;
      position: static;
      border: none;

      @container style(--right-gradient:true) {
        background: linear-gradient(180deg, 
          color-mix(in srgb,
          rgb(0 0 0 / .1) 50%,
            var(--profile-gradient-primary-color) 50%
          ),
          color-mix(in srgb,
          rgb(0 0 0 / .1) 50%,
            var(--profile-gradient-secondary-color) 50%
          )
        );
      }

      > .container__63ed3 {
        position: absolute;
        left: 150px;
        z-index: 1;
        max-width: 215px;
        width: 215px;
        margin: 15px 15px 0;

        > .usernameRow__63ed3 {
          justify-content: flex-start;

          > .nickname__63ed3 {
            max-height: 60px;
          }
        }

        > .tags__63ed3 {
          position: absolute;
          display: flex;
          align-content: center;
          flex-direction: row;
          justify-content: flex-start;
          width: inherit;

          > .userTag__63ed3 {
            position: relative;
          }

          > .dotSpacer__63ed3 {
            position: relative;
          }

          > .pronounsTooltip__63ed3 {
            position: relative;
            
            > .pronounsText__63ed3 {
              white-space: unset;
            }
          }

          > .guildTagContainer__63ed3 {
            position: relative;
            order: var(--tag-order);
          }

          > .container__8061a {
            position: relative;
            border: none;
            background: none;
          }
        }
      }
      
      > .container_d1d9f3 {
        height: 100%;
        background: none;

        > .tabBar_d1d9f3 {
          position: absolute;
          bottom: 15%;
          left: 15px;
          padding: 0;
          z-index: 1;
          border-bottom: unset;
          flex-direction: column;
          gap: 8px;

          > .item_b3f026 {
            height: 20px;
            border-bottom: unset;
            margin-left: unset;

            &::after { 
              display: none;
            }

            > div {
              transition: font-weight 0.2s;
            }

            &.selected_b3f026 > div {
              font-weight: bold;
            }
          }
        }

        > .scroller_fcb628 {
          background: none;

          .section_bf424d {
            > .root_af8192 {
              > .role_dfa8b6 { 
                overflow: hidden;

                > .roleRemoveButton_dfa8b6,
                > div > .roleRemoveButton_dfa8b6 {
                  > .roleCircle__4f569 {
                    position: relative;
                    box-shadow: 0px 0px 3px black;
                    transform-style: preserve-3d;

                    &::after {
                      position: absolute;
                      left: -10px;
                      overflow: visible;
                      background: inherit;
                      filter: brightness(.7);
                      content: "";
                      width: 400px;
                      height: 24px;
                      transform: translateZ(-1px);
                    }
                  }
                }

                > span,
                > .roleName_dfa8b6 {
                  -webkit-filter: drop-shadow(0px 0px 2px black);
                }
              }
            }

            &:nth-last-of-type(2) {
              > .connectedAccounts_e6abe8 > .connectedAccountsColumn_e6abe8 {
                > .connectedAccountContainer_e6abe8 {
                  border: 1px solid var(--user-profile-border);
                  padding: 8px 8px;
                  border-radius: 8px;
                  position: relative;
                  background-color: color-mix(in srgb,
                  rgb(0 0 0 / .1) 50%,
                    var(--profile-gradient-secondary-color) 50%
                  );
    
                  > .connectedAccount_e6abe8 > .connectedAccountNameContainer_e6abe8 > .connectedAccountName_e6abe8 {
                    > .connectedAccountNameTextContainer_e6abe8 {
                      > .connectedAccountNameText_e6abe8 {
                        color: var(--white-500) !important;
                        -webkit-filter: drop-shadow(0px 0px 1px black);
                      }

                      > .flowerStarContainer__3e3b0 {
                        display: none;
                      } 
                    }

                    > .anchor_edefb8 {
                      position: absolute;
                      inset: 0;
                      opacity: 0;
                    }
                  }
                }

                > .connectedAccountContainerWithMetadata_e6abe8 {
                  &:not(:hover) > .connectedAccount_e6abe8 > .connectedAccountNameContainer_e6abe8 {
                    > .text-xs\/normal_cf4812 {
                      display: none;
                    }
                  }

                  &:not(:hover) > .connectedAccountChildren_e6abe8 {
                    display: none;
                  }

                  > .connectedAccount_e6abe8 > .connectedAccountNameContainer_e6abe8 > .text-xs\/normal_cf4812,
                  > .connectedAccountChildren_e6abe8 > .connectedAccountVanityMetadata_fffe42 {
                    color: var(--white-500) !important;
                    -webkit-filter: drop-shadow(0px 0px 1px black);

                    > .text-xs\/normal_cf4812 {
                      color: var(--white-500) !important;
                    }
                  }

                  > .connectedAccount_e6abe8 > .connectedAccountNameContainer_e6abe8 > .connectedAccountChildren_e6abe8 {
                    position: relative;
                    padding: 0px 5px 9px;
                    margin: unset;
                    border-radius: 4px;
                    background-color: color-mix(in srgb,
                    rgb(0 0 0 / .1) 50%,
                      var(--profile-gradient-secondary-color) 50%
                    );
                  }
                }
              }
            }

            @container style(--show-notes:false) {
              &:nth-last-of-type(1) {
                display: none;
              }
            }

            @container style(--show-notes:true) {
              &:nth-last-of-type(1) {
                display: unset;
              }
            }
          }
        }

        > .scroller_ac477d {
          .section_bf424d {
            &:nth-of-type(2) {
              display: none;
            }
            margin-bottom: 50px;

            .card__39ec2 {
              &:has(> .header__39ec2 > .headerText__39ec2 > .platformIcon__39ec2[style="mask-image: url(\"/assets/f6833ce4dd20c1fb.svg\");"]) { 
                order: -1;
        
                > .body__39ec2 .actions__39ec2 {
                  display: none;
                }

                &:hover > .body__39ec2 > .content__39ec2 > .actions__39ec2 {
                  display: flex;
                  position: absolute;
                  top: 8px;
                  right: 8px;

                  > .primaryButton__39ec2 {
                    width: 32px;

                    > .button_fb7f94 {
                      min-width: unset;
                      width: 32px;
                      background: color-mix(in srgb,
                        var(--profile-gradient-primary-color) 90%,
                        var(--profile-gradient-secondary-color) 10%
                      );
                      padding: 2px;

                      > .contents__201d5 {
                        font-size: 0;
                        margin: 0;
                        margin-left: 4px;
                      }
                    }
                  }

                  > div:nth-child(2) > .button_fb7f94 {
                    background: color-mix(in srgb,
                      var(--profile-gradient-primary-color) 90%,
                      var(--profile-gradient-secondary-color) 10%
                    );
                  }
                }
              }
            }

            .activityPopover__2d0ab {
              display: none;
            }
          }
        }

        > .listScroller__9d78f {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: repeat(20, 0fr);
          gap: 10px;
          padding: 12px !important;
          margin: 0;

          > .row__89036,
          > .row__0a95c {
            position: relative;
            z-index: 1;
            height: 44px;
            margin: 0;
            border-radius: 8px;
            overflow: hidden;
            background-color: rgb(255 255 255 / .027);
          }

          .empty__9d78f {
            grid-column: 1/3;
            grid-row: 1/22;
            position: relative;
            z-index: 0;
            overflow: hidden;
            margin: 0;

            .emptyIconFriends__9d78f {
              position: absolute;
              z-index: -1;
              width: 80%;
              height: 80%;
              opacity: 0.2;
              background-size: 100%;
            }
          }
        }
      }
    }
  }
}
